

.wrapper{
  padding: 20px;
}

label {
  display: inline-block;
  width: 200px;
  margin-bottom: 12px;
}

table{
  width: 690px;
  /*border:1px solid silver;*/
}

table tr {
  /*background-color: rgb(224, 224, 224);*/
}

table td {
  /*text-align: center;
  border: thin solid #6495ed;*/
  /*padding: 5px;*/
  /*width: 115px;*/
}

.modify{
  border:1px solid #BADA55;
}
#updtBtn, #supprBtn{
    cursor: pointer;
}

#cancel{
  cursor: pointer;
  color:red;
}
#submit{
  cursor: pointer;
  color:green;
}

#msgName,#msgPrice{
  color : #d11d05;
  margin-left: 15px;
}
